.container{
    height: 85vh;
    display: grid;
    grid-template-columns: 100px 100px ;
    grid-template-rows: 50px  150px 50px 150px;
    gap: 8px;
    grid-template-areas: "header header"
    "main aside"
    ".     aside"
    "footer footer";

    justify-content: center;
    align-content: center;
}

.component:nth-child(1){

    background: #db9e0f;
   /*grid-column: 1 / 2;
    grid-row: 2/3;*/
    grid-area: header;
}

.component:nth-child(2){

    background: darkslateblue;
   /* grid-column: 1/3;
    grid-row: 1/2;*/
grid-area: main;
}

.component:nth-child(3){
   /* grid-row: 2/3;
    grid-row: 2/3;*/
grid-area: aside;
    background: rgb(119, 139, 61);
}
.component:nth-child(4){
grid-area: footer;
    background: #0fdb19;
   /* grid-column: 1/3 ;
    grid-row: 3/4;*/
}

